<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<div class="container">
  <div class="row">
    <% @tasks.each_slice(3) do |row| %>
      <% row.each do |task| %>
        <div class="col">
          <div class="card">
            <%= image_tag task.photo, class: 'card-img-top' %>
            <% if task.check_done(current_user)%>
              <%= link_to "Descompletar", task_done_path(task, current_user), class: 'btn btn-warning', method: :delete%>
            <% else %>
              <%= link_to "Completar", task_dones_path(task), class: 'btn btn-primary', method: :post%>
            <% end %>
            <div class="body">
              <p><%= link_to task.name, task_path(task) %></p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top: 20px"></div>
    <% end %>
  </div>
</div>