<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<div class="container">
  <div class="row">
    <% @tasks.each_slice(3) do |row| %>
      <% row.each do |task| %>
        <div class="col">
          <div class="card">
            <%= image_tag task.photo, class: 'card-img-top' %>
            <div class="body">
              <p><%= task.name %></p>
              <%= link_to "Comprar", class: 'btn btn-primary'%>
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top: 20px"></div>
    <% end %>
  </div>
</div>